.Message {
    display: flex;
    background-color: white;
    margin: 10px;
  }

.message-content {
  align-items: flex-end;
}

.username {
  display: block;
  color: rgb(92, 91, 91);
  font-size: 20px;
  padding-bottom: 0px;
  text-align: left;
}

.text {
  padding: 10px;
  max-width: 600px;
  margin: -10px 0px;
  border-radius: 15px;
  background-color: rgb(92, 91, 91);
  color: white;
  font-size: 30px;
  float: left;
  text-align: left;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 15px;
}

.join {
  width: 20%;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(92, 91, 91);
  color: white;
  border-radius: 5px;
  font-size: 18px;
}